*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header{
    height: 100px;
    background: orange;
}
.main{
    height: 300px;
    background: #c52525;
}
.footer{
    height:100px;
    background: #3d3ddc;
}